<div class="card card-dafault">
  <div class="card-header">
    <h4 class="card-title">B반 자리배치도</h4>
    <button class="btn btn-secondary btn-sm float-right" id="editSeatsB">편집</button>
    <button class="btn btn-info btn-sm float-right" id="saveSeatsB" style="display: none">저장</button>
  </div>
  <div class="card-body">
    <div class="filter-container-fluid">
      <div class="row justify-content-center"><h3>전면 칠판</h3></div>
      <hr>
      <div class="row pb-1" id="brow1">
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-1">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-2">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-3">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-4">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5" id="brow2">
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-5">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-6">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-7">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-8">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-1" id="brow3">
        <div class="col-sm-4">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-9">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-10">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-11">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-12">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-13">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-14">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5" id="brow4">
        <div class="col-sm-4">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-15">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-16">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-17">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-18">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-19">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-20">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-1" id="brow5">
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
<!--              <div class="background-wrap">-->
<!--                <div class="content">-->
<!--                  <span id="seatB-21">공석</span>-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
<!--              <div class="background-wrap">-->
<!--                <div class="content">-->
<!--                  <span id="seatB-22">공석</span>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-21">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-22">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5" id="brow6">
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
<!--              <div class="background-wrap">-->
<!--                <div class="content">-->
<!--                  <span id="seatB-25">공석</span>-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
<!--              <div class="background-wrap">-->
<!--                <div class="content">-->
<!--                  <span id="seatB-26">공석</span>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-23">공석</span>
                </div>
              </div>
            </div>
            <div class="filtr-item col-sm-6 text-on-img">
              <div class="background-wrap">
                <div class="content">
                  <span id="seatB-24">공석</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center pt-1"><h3>후면 칠판</h3></div>
    </div>
  </div>
</div>