<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebarFragment">
  <!-- Brand Logo -->
  <a th:href="@{/}" class="brand-link">
    <img src="/dist/img/codehows.png" alt="Codehows Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">CodehowsSMP</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
<!--     Sidebar member panel (optional) -->
    <div class="member-panel pb-3 d-flex">
      <div class="info">
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nav-icon fas fa-users"></i>-->
<!--            <p>-->
<!--              학생 관리-->
<!--              <i class="right fas fa-angle-left"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
            <li class="nav-item">
              <a th:href="@{/student/info}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>학생 정보 조회/관리</p>
              </a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a th:href="@{/attendance/info}" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>출결 정보 관리</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nav-icon fas fa-network-wired"></i>-->
<!--            <p>-->
<!--              팀 관리-->
<!--              <i class="fas fa-angle-left right"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item">-->
<!--              <a th:href="@{/team/info}" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>팀 정보 조회</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item">-->
<!--              <a th:href="@{/team/hist}" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>팀 이력 관리</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nav-icon fas fa-book-open"></i>-->
<!--            <p>-->
<!--              도서 관리-->
<!--              <i class="fas fa-angle-left right"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item">-->
<!--              <a th:href="@{/}" class="nav-link">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>추가 예정</p>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a th:href="@{/schedule/info}" class="nav-link">-->
<!--            <i class="nav-icon far fa-calendar-alt"></i>-->
<!--            <p>-->
<!--              일정 관리-->
<!--            </p>-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item">
          <a th:href="@{/class/info}" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              강의실 자리배치도
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

</html>